* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #262626;
}

.countDown {
  width: 800px;
  margin: auto;
  text-align: center;
}

.countBlock {
  width: 160px;
  display: inline-block;
  color: #ffcd33;
  font-size: 60px;
  line-height: 60px;
}

.unit {
  font-size: 20px;
}