* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #262626;
}

.countDown {
  margin: auto;
  text-align: center;
}

.countBlock {
  width: 160px;
  display: inline-block;
  color: #ffcd33;
  font-size: 60px;
  line-height: 60px;
}

.unit {
  font-size: 20px;
}

@media (max-width: 768px) {
  .countBlock {
    width: 80px;
    font-size: 30px;
    line-height: 30px;
  }

  .unit {
    font-size: 10px;
  }
}

@media (max-width: 360px) {
  .countBlock {
    width: 60px;
    font-size: 24px;
    line-height: 24px;
  }

  .unit {
    font-size: 8px;
  }
}